# IntelliJ IDE
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Linux
.*
!.babelrc
!.gitignore
!.git*
*~


# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Java
*.class

# Package Files
*.jar
*.war
*.ear

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### IntelliJ ###
*.iml
*.ipr
*.iws

# Maven
target/

/bin

node/
node_modules/
/mvc/frontend/npm-debug.log
/selenium-automation/video/*
/selenium-automation/build/*
/mvc/src/main/resources/static/*
coverage/
.nyc_output/
__snapshots__/


# Jupyter notebooks
.ipynb_checkpoints/

# Python cached data
__pycache__/

# local db dumps
DB_dumps/

# Python local config
_config/

# Sass-lint config
!.sass-lint.yml
